
.project-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.project-wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 160px;
    transform: rotateY(180deg);
}

.project-wave .shape-fill {
    fill: #205074;
}